/* style.css */
:root {
    --primary-color: ;
    --secondary-color: ;
    --accent-color: #a393bd;
    /* Light and dark are switched when darkMode is enabled. */
    --light: #efebe8;
    --dark: #36454f;
}

* {
    margin:  0;
    padding: 0;

    font-style: normal;
    font-family: "Trebuchet MS", Tahoma, sans-serif;

    /* border: 1px solid black; Used for visual purposes during development. */
}

.darkMode {
    --light: #36454f;
    --dark: #efebe8;
}

body {
    background-color: var(--light);
    color: var(--dark);
    min-height: 100vh;
    position: relative;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header button {
    position: relative;
    justify-content: center;
    padding: 5px calc((2.73px / 2) + 5px);
    stroke: var(--light);
    background-color: var(--dark);
    border: none;
    border-radius: 10px;
}

header button:hover {
    filter: brightness(75%);
}

/* The SVG for the sun and moon both need to be opposite of the current dark/light mode setting. */
header button #sun {
    stroke: var(--light);
}

header button #moon {
    stroke: var(--light);
}

main {}

footer {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    bottom: 0;
    margin: auto 0;
    padding: 10px;
}

.accent {
    color: var(--accent-color);
}

#titleBox {
    border-bottom: 2px solid var(--accent-color);
}

.imgContainer {
    margin: 20px;
    padding: 20px;

    justify-content: center;
    display: grid;

    grid-template-columns: 200px 200px;
    grid-row: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.imgContainer img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

/* Navigation related classes and configurations */
.navigation a {
    background: var(--secondary-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--dark);
    padding: 10px;
}

.navigation a:hover {
    border-bottom-width: 5px;
    border-color: var(--dark)
}

/* The idea here is to make links look like normal buttons */
.navigation a:link {
    color: var(--dark);
    text-decoration: none;
}

.navigation a:visited {
    color: var(--dark);
    text-decoration: none;
}

.navigation a:hover {
    color: var(--dark);
    text-decoration: none;
}

.navigation a:active {
    color: var(--dark);
    text-decoration: none;
}
